::-webkit-scrollbar {
    width: 0;
}
:root {
    --primary: #24282E; 
    --secondary: #0c0e10;
    --light: #ffffff;
    --red: #B04141;
    --shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}

/* IMAGEM */

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    /* grid-gap: 20px; */
}

/* HEADER */

.top-header {
    display: grid;
    box-shadow: var(--shadow);
    background-color: var(--secondary);
}

.logo {
    grid-area: logo;
    margin-left: 2rem;
}

.logo li {
    display: flex;
    justify-content: left;
    padding: 0px;
}

.main-left {
    grid-area: main-left;
    align-items: center;
    margin-left: -280px;
}

/* .main-left .box-a {
    margin-right: 500px;
} */

.main-right {
    grid-area: main-right;
    align-items: center;
    margin-right: 2rem;
}

.main-nav .main-left {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    
}

.main-nav .main-right {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-template-areas: 
        'logo main-left main-right';
}

.main-nav a {
    color: var(--red);
    text-decoration: none;
    padding: 0.8rem;
    font-size: 20px;
    font-weight: bold;
}

/* FIM DO HEADER */

/* FOOTER */

footer {
    box-shadow: var(--shadow);
    background-color: var(--secondary);
    height: 80px;
}

footer ul {
    display: flex;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    justify-content: right;
    margin-top: 30px;
    margin-right: 2rem;
}

footer a {
    color: var(--red);
    text-decoration: none;
    padding: 0.8rem;
    font-size: 20px;
    margin-right: 2rem;
    font-weight: bold;
}

footer linha {
    margin-right: 2rem;
}

footer a:hover {
    color: #863131;
}

/* FIM DO FOOTER */

/* LOGO DO SITE AQUI */

b {
    font-size: 2.25rem;
}

.main-nav a:hover {
    color: #863131;
}

linha {
    color: #B04141;
}

/* IMAGEM DO ORDEM */

.info {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        'showcase'
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: var(--shadow);
    height: 100%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.showcase h1 {
    font-size: 4rem;
    margin-top: -20rem;
    text-shadow: var(--shadow);
}

.showcase p {
    font-size: 1.25rem;
}

.showcase .btn {
    margin-bottom: 10px;
}

.showcase .btn-two {
    margin-bottom: 10px;
}

.bgordem {
    background: url(images/conhecimento.jpeg);
    background-size: cover;
    background-position: center;    
    height: 800px;
}

.inforpg {
    display: grid;
    /* grid-gap: 20px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'top-box-a top-box-b';
    margin-bottom: -50px;
    align-items: center;
}

.inforpg-2 {
    display: grid;
    /* grid-gap: 20px; */
    grid-template-areas: 
    'top-box-a top-box-b';
    align-items: center;
    grid-template-columns: repeat(auto, minmax(200px, 1fr));
}

.top-box {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1.5rem;
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

.top-box-a h1 {
    font-size: 2.25rem;
    margin-left: 3rem;
    text-shadow: var(--shadow);
    margin-top: -10px;
}

.top-box-a img {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    box-shadow: var(--shadow);
    height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
}

.top-box-a p {
    display: flex;
    justify-content: left;
    text-align: justify;
    font-size: 20px;
    margin-left: 3rem;
    line-height: 50px;
}


.top-box-b h1 {
    display: flex;
    justify-content: right;
    font-size: 2.25rem;
    margin-right: 3rem;
    margin-top: -.5rem;
    text-shadow: var(--shadow);
}

.top-box-b img {
    margin-right: 3rem;
    margin-left: 3rem;
    box-shadow: var(--shadow);
    height: auto; 
    width: auto; 
    max-width: 800px; 
    max-height: 800px;
}

.top-box-b p {
    display: flex;
    justify-content: right;
    font-size: 0.938rem;
    margin-right: 3rem;
    /* margin-left: 3rem; */
    text-align: justify;
    line-height: 3.125;
    font-size: 20px;
}

