/* VARIÁVEIS DO CSS */
::-webkit-scrollbar {
    width: 0;
}
:root {
    --primary: #24282E; 
    --secondary: #0c0e10;
    --light: #ffffff;
    --red: #B04141;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* HTML */

html {
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: var(--light);
}

body {
    background: linear-gradient(#0c0e10, #24282E);
    margin: 0px 0px;
    line-height: 1.4;
}

/* BOTÕES */

.btn {
    background-color: var(--red);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.btn-two {
    background-color: rgba(12, 14, 16, .5);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: solid;
    border-color: var(--red);
    border-width: 1px;
}

/* IMAGEM */

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
}

/* HEADER */

.top-header {
    display: grid;
    box-shadow: var(--shadow);
    background-color: var(--secondary);
}

.logo {
    grid-area: logo;
    margin-left: 2rem;
}

.logo li {
    display: flex;
    justify-content: left;
    padding: 0px;
}

.main-left {
    grid-area: main-left;
    align-items: center;
    margin-left: -280px;
}

.main-right {
    grid-area: main-right;
    align-items: center;
    margin-right: 2rem;
}

.main-nav .main-left {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    
}

.main-nav .main-right {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-template-areas: 
        'logo main-left main-right';
}

.main-nav a {
    color: var(--red);
    text-decoration: none;
    padding: 0.8rem;
    font-size: 1rem;
}

/* FIM DO HEADER */

footer {
    box-shadow: var(--shadow);
    background-color: var(--secondary);
}

footer ul {
    display: flex;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    justify-content: right;
}

footer a {
    color: var(--red);
    text-decoration: none;
    padding: 0.8rem;
    font-size: 1rem;
}

footer a:hover {
    color: #863131;
}



/* LOGO DO SITE AQUI */

b {
    font-size: 2.25rem;
}

.main-nav a:hover {
    color: #863131;
}

linha {
    color: #B04141;
}

/* IMAGEM DO ORDEM */

.info {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase'
}

.showcase {
    grid-area: showcase;
    min-height: 400px;
    padding-left: 3rem;
    padding-right: 3rem;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: var(--shadow);
    height: 100%;
    font-weight: bold;
}

.showcase h1 {
    font-size: 4rem;
    margin-top: -20rem;
}

.showcase p {
    font-size: 1.25rem;
}

.showcase .btn {
    margin-bottom: 10px;
}

.showcase .btn-two {
    margin-bottom: 10px;
}

.bgordem {
    background: url(images/conhecimento.jpeg);
    background-size: cover;
    background-position: center;    
    height: 800px;
    opacity: 50%;
}

.inforpg {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'top-box-a top-box-b'
}

.inforpg-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'top-box-a top-box-b'
}

.top-box-a {
    grid-area: top-box-a;
}

.top-box-b {
    grid-area: top-box-b;
}

.top-box-a h1 {
    font-size: 2.25rem;
    margin-left: 3rem;
}

.top-box-a img {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    box-shadow: var(--shadow);
    height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
}

.top-box-a p {
    display: flex;
    justify-content: left;
    text-align: justify;
    font-size: 0.938rem;
    margin-right: 3rem;
    margin-left: 3rem;
    line-height: 50px;
    font-weight: bold;
}


.top-box-b h1 {
    display: flex;
    justify-content: right;
    font-size: 2.25rem;
    margin-right: 3rem;
    margin-top: -.5rem;
}

.top-box-b img {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 2.4rem;
    box-shadow: var(--shadow);
    height: auto; 
    width: auto; 
    max-width: 800px; 
    max-height: 800px;
}

.top-box-b p {
    display: flex;
    justify-content: right;
    font-size: 0.938rem;
    margin-right: 3rem;
    /* margin-left: 3rem; */
    text-align: justify;
    line-height: 3.125;
    font-weight: bold;
}

